@model IList<Pet>

@{
    ViewData["Title"] = "Pet Admin";
}
<div class="nazev">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="createPet">
    <a asp-action="Create"> Create Pet </a>
</div>

@{
    if (Model != null && Model.Count > 0)
    {
        <div class="datatable-container-pet">
            <table class="datatable-pet table table-striped custom-table tableAdmin" role="table">
                <thead role="rowgroup">
                    <tr>
                        <th scope="col" role="columnheader">@nameof(Pet.Id)</th>
                        <th scope="col" role="columnheader">@nameof(Pet.Name)</th>
                        <th scope="col" role="columnheader">@nameof(Pet.Sex)</th>
                        <th scope="col" role="columnheader">@nameof(Pet.Birth)</th>
                        <th scope="col" role="columnheader">@nameof(Pet.InShelterSince)</th>
                        <th scope="col" role="columnheader">  </th>
                        <th scope="col" role="columnheader">  </th>
                    </tr>
                </thead>
                <tbody role="rowgroup">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr role="row">
                            <th scope="row" class="pad" >@Model[i].Id</th>
                            <td scope="row" class="pad">@Model[i].Name</td>
                            <td scope="row" class="pad">@Model[i].Sex</td>
                            <td scope="row" class="pad">@Model[i].Birth</td>
                            <td scope="row" class="pad">@Model[i].InShelterSince</td>
                            <td scope="row"><a asp-action="Delete" asp-route-id="@Model[i].Id" onclick="return ConfirmDelete();" class="ikony"><img src="~/img/pets/delete-32.png"></a></td>
                            <td scope="row"><a asp-action="Edit" asp-route-id="@Model[i].Id" class="ikony"><img src="~/img/pets/edit-3-32.png"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}


@section Scripts {
    <script src="~/js/dialogs.js"></script>
}


@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
}
