@model CarouselProductViewModel

@{
    ViewData["Title"] = "Útulek Zlín";
}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Vítejte</div>
        <div class="masthead-heading text-uppercase">Děkujeme za vaši pomoc</div>
    </div>
</header>
<!-- Pomoc-->
<section class="page-section">
    <div class="container">
        <div class="text-center pomoc">
            <img src="~/img/pets/paw-icon.png" />
            <h5 class="section-subheading text-muted first">Jak nám můžete pomoci?</h5>
            <h3 class="section-subheading text-muted">Útulek bude rád za jakoukoliv formu pomoci. Moc Vám děkujeme, že na nás myslíte…bez Vaší pomoci už by to nešlo.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4 col-sm-12 col-lg-4">
                <h4 class="my-3">FINANČNÍ DAR</h4>
                <p class="text-muted text-omezeni">zasláním daru na náš darový účet 102987600/2250</p>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4">
                <h4 class="my-3">ZAKOUPENÍ PROPAGAČNÍHO PŘEDMĚTU:</h4>
                <p class="text-muted text-omezeni">Taška (100 Kč), Pexeso (30 Kč), Kalendář (150 Kč) , Hrníček velký (150 Kč), malý (100 Kč)</p>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4">
                <h4 class="my-3">VIRTUÁLNÍ ADOPCÍ</h4>
                <p class="text-muted text-omezeni">Chápeme, že ne každý si může dovolit mazlíčka vlastnit, ale můžete na něj přispívat pomocí virtuální adopce.</p>
            </div>
        </div>
    </div>
</section>
<!-- Nové přírůstky-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nalezenci</h2>
            <h8 class="h8 text-muted">Níže jsou zobrazeni psi, kteří byli přivezeni na útulek během posledních 14 dní. </h8>
            <div class="">
                <h3 class="section-subheading text-muted">Snažíme se vždy najít majitele. Pokud nejste třeba majitelem, ale psa znáte, budeme rádi za jakoukoliv informaci.</h3>
            </div>
        </div>
        @{
            if (Model != null && Model.Pets != null && Model.Pets.Count > 0)
            {
                <section class="bez">
                    <div class="container px-4 px-lg-5 mt-5">
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                            @foreach (var pet in Model.Pets)
                            {
                                <div class="col mb-5 col-md-6 col-sm-12 col-lg-4">
                                    <div class="mazlik">
                                        <!-- Product image-->
                                        <div class="content">
                                            <div class="grid">
                                                <figure class="effect-julia">
                                                    <img class="card-img-top" src="@pet.ImageSrc" alt="@pet.Name" />

                                                    <figcaption>
                                                        <h2> @pet.Name</h2>
                                                        <div>
                                                            <p>Narození: @pet.Birth?.ToString("dd.MM.yyyy")</p>
                                                            <p>Nějaké základní info...</p>
                                                        </div>
                                                        <a class="btn btn-outline-dark mt-auto" asp-area="Mazlicci" asp-controller="Mazlicci" asp-action="Detail" asp-route-id="@pet.Id">Detail</a>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </section>
            }
        }
        @*
            <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-4 mb-4">
            <!-- Portfolio item 1-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="~/img/pets/peso1.jpg" alt="..." />
            </a>
            <div class="portfolio-caption">
                <div class="portfolio-caption-heading">Threads</div>
                <div class="portfolio-caption-subheading text-muted">Illustration</div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-lg-4 mb-4">
        <!-- Portfolio item 2-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="~/img/pets/kocka1.jpg" alt="..." />
            </a>
            <div class="portfolio-caption">
                <div class="portfolio-caption-heading">Explore</div>
                <div class="portfolio-caption-subheading text-muted">Graphic Design</div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-4 mb-4">
        <!-- Portfolio item 3-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="~/img/pets/peso2.jpg" alt="..." />
            </a>
            <div class="portfolio-caption">
                <div class="portfolio-caption-heading">Finish</div>
                <div class="portfolio-caption-subheading text-muted">Identity</div>
            </div>
        </div>
    </div>
    </div>
    *@
    </div>
</section>
<!-- Informace--> 
<section class="page-section" id="informace">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Informace</h2>
            <h3 class="section-subheading text-muted">Útulek pro zvířata v nouzi ve Zlíně.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Místo</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Útulek je situován nedaleko zastavěné části Zlína a je přístupný městskou hromadnou dopravou.</p>
                        <p>Útulek pro zvířata v nouzi Vršava</p>
                        <p>Mezilesí 628</p>
                        <p >763 14 Zlín-Kostelec</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Kapacita a psí hotel</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            Kapacita útulku umožňuje umístit zde až 80 psů a 40 koček a může na přechodnou dobu sloužit i jako útočiště pro handicapovaná volně žijící zvířata,
                            jako jsou například ježci a ptáci.
                        </p>
                        <p class="text-muted">Od roku 2006 provozuje útulek nově i služby psího hotelu, jehož kapacita je  20 psů.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Návštěvní hodiny</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Máme otevřeno každý den mimo pondělí a čtvrtek od 14.00 - 16.00 hod. </p>
                        <p class="text-muted">(v letním období (1.6. - 30.9.) do 17.00 hod.)</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Virtuální adopce</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Novinkou je také nabídka virtuální adopce. Ta umožní lidem, 
                        kteří  nemohou mít doma z jakéhokoliv důvodu zvíře a rádi by pomohli, alespoň pravidelně finančně podpořit konkrétní zvíře.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <div class="circle">
                        <div class="cat">
                            <div class="ears"></div>
                            <div class="tail"></div>
                            <div class="shadow"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>


<script src="js/scripts.js"></script>
