@using VanaKrizan.Utulek.Domain.Entities;
@model PetConjoined

@{
    <div class="containerMazl">
        <section class="info">
            <div class="row">
                <div class="mazel">
                    <div class="barva">
                        <h1>@Model.pet.Name</h1>

                            <div class="container">
                                <div class="button-container">
                                    <div class="dog">
                                        <div class="tail"></div>
                                        <div class="body"></div>
                                        <div class="head">
                                            <div class="eyes">
                                                <div class="left"></div>
                                                <div class="right"></div>

                                            </div>
                                            <div class="nuzzle">
                                                <div class="mouth">
                                                    <div class="tongue"></div>
                                                </div>
                                                <div class="nose">
                                                    <div class="nostrils"></div>
                                                    <div class="highlight"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ears">
                                            <div class="left"></div>
                                            <div class="right"></div>
                                        </div>
                                    </div>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <button class="adoptuj" onclick="document.getElementById('id01').style.display='block'"> Adoptuj mě</button>
                                }
                                else
                                {
                                    <form asp-area="Security" asp-controller="Account" asp-action="Prihlaseni" method="get">
                                        <button type="submit" class="adoptuj"> Adoptuj mě</button>
                                    </form>
                                }
                                <div class="paw"></div>
                                    <div class="paw top"></div>
                                </div>
                            </div>

                        <div id="id01" class="modal">

                            <form asp-action="Detail" id="form" method="post" class="modal-content animate">
                                <div class="imgcontainer">
                                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                                    <h2>@Model.pet.Name</h2>
                                    <div class="okno">
                                        <img src=@Model.pet.ImageSrc >
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="castka">
                                        <label>Chci přispět virtuální adopcí částkou </label>
                                        <input asp-for="cost" type="number" placeholder="Adopční přísěvek" name="cost" required min="50" id="hodnota">
                                    </div>
                                </div>

                                <div class="container">

                                    <!-- <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>-->
                                    <!-- <button type="submit" class="submitbtn">Submit</button> -->
                                    <button type="submit" id="submitLink"><img src="~/img/pets/handshake.png" class="icon-agree"></button>

                                    <input type="hidden" asp-for="pet.Id" />
                                    <input type="hidden" asp-for="breed.Id" />
                                    <input type="hidden" asp-for="breed.Name" />
                                    <input type="hidden" asp-for="size.Id" />
                                    <input type="hidden" asp-for="size.Name" />

                                    <!--

                                        <a id="submitLink" class="submitbtn" asp-area="Platba" asp-controller="Platba" asp-action="Platba">Souhlasím</a>
                                    -->

                                </div>
                            </form>
                        </div>

                        <div class="zaklInfo">
                            <dl class="zaklad">
                                <fieldset>
                                    <legend>Základní údaje</legend>
                                    <dl>
                                        <dt class="hl">Velikost:</dt>
                                        <dd class="data">@Model.size.Name</dd>
                                    </dl>
                                    <dl>
                                        <dt class="hl">Plemeno:</dt>
                                        <dd class="data">@Model.breed.Name</dd>
                                    </dl>
                                    <dl>
                                        <dt class="hl">Stáří:</dt>
                                        <dd class="data">@Model.pet.Birth</dd>
                                    </dl>
                                    <dl>
                                        <dt class="hl">Pohlaví:</dt>
                                        <dd class="data">@Model.pet.Sex</dd>
                                    </dl>
                                    <dl>
                                        <dt class="hl">V útulku od:</dt>
                                        <dd class="data">@Model.pet.InShelterSince</dd>
                                    </dl>
                                    <dl>
                                        <dt class="hl">Čip:</dt>
                                        <dd class="data">@Model.pet.HasChip</dd>
                                    </dl>
                                </fieldset>
                            </dl>
                            <div class="dolni">
                                <img src=@Model.pet.ImageSrc >
                            </div>
                        </div>
                    </div>
                    @{
                        if(Model.pet.Info != null)
                        {
                            <div class="popis">
                                <div class="color">
                                    @Model.pet.Info
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </section>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/detail.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}
