@model CarouselProductViewModel
<div class="nadpis">
    <h1>Naši mazlíččci, kteří hledají domov</h1>
</div>


@{

    if (Model != null && Model.Pets != null && Model.Pets.Count > 0)
    {
        <section class="bez sdole">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    @foreach (var pet in Model.Pets)
                    {
                        <div class="col mb-5 col-sm-12 col-md-6 col-lg-4 mazlik">
                            <div class="mazlik">
                                <!-- Product image-->
                                <div class="content">
                                    <div class="grid">
                                        <figure class="effect-julia boxik">
                                            <img class="card-img-top" src="@pet.ImageSrc" alt="@pet.Name" />
                                            
                                            <figcaption>
                                                <h2> @pet.Name</h2>
                                                <div>
                                                    <p>Narození: @pet.Birth?.ToString("dd.MM.yyyy")</p>
                                                    <p>Nějaké základní info...</p>
                                                </div>
                                                <a class="btn btn-outline-dark mt-auto" asp-area="Mazlicci" asp-controller="Mazlicci" asp-action="Detail" asp-route-id="@pet.Id">Detail</a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>

    }
}


@section Styles {
    <link rel="stylesheet" href="~/css/detail.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mazlicci.css" asp-append-version="true" />
}

