@using VanaKrizan.Utulek.Infrastructure.Identity;
@using VanaKrizan.Utulek.Domain.Entities.Interface;
@using VanaKrizan.Utulek.Infrastructure.Identity.Enums;
@model IList<User>

@{
    ViewData["Title"] = "Users Admin";
}
<div class="nazev">
    <h1>@ViewData["Title"]</h1>
</div>

@{
    if (Model != null && Model.Count > 0)
    {

            <div class="datatable-container-pet">
            <!--<div class="header-tools"> </div>-->
                <!-- ======= Table ======= -->
            <table class="datatable-pet table table-striped custom-table" role="table">
                @*tableAdmin*@
                    <thead role="rowgroup">
                        <tr>
                            <th scope="col" role="columnheader">@nameof(IUser.Id)</th>
                            <th scope="col" role="columnheader">@nameof(IUser.UserName)</th>
                            <th scope="col" role="columnheader">@nameof(IUser.FirstName)</th>
                            <th scope="col" role="columnheader">@nameof(IUser.LastName)</th>
                            <th scope="col" role="columnheader">@nameof(IUser.Email)</th>
                            <th scope="col" role="columnheader">@nameof(IUser.PhoneNumber)</th>
                            @if (User.IsInRole(nameof(Roles.Admin)))
                            {
                                <th scope="col" role="columnheader"> </th>
                            /*Delete */
                                <th scope="col" role="columnheader">  </th>
                            }
                            <th scope="col" role="columnheader">  </th>
                        </tr>
                    </thead>

                    <tbody role="rowgroup">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr role="row">
                                <th scope="row" class="pad">@Model[i].Id</th>
                                <td scope="row" class="pad">@Model[i].UserName</td>
                                <td scope="row" class="pad">@Model[i].FirstName</td>
                                <td scope="row" class="pad">@Model[i].LastName</td>
                                <td scope="row" class="pad">@Model[i].Email</td>
                                <td scope="row" class="pad">@Model[i].PhoneNumber</td>
                                @if (User.IsInRole(nameof(Roles.Admin)))
                                {
                                    <td scope="row"><a asp-action="Delete" asp-route-id="@Model[i].Id" onclick="return ConfirmDelete();" class="ikony"><img src="~/img/pets/delete-32.png"></a></td>
                                    <td scope="row"><a asp-action="EditUser" asp-route-id="@Model[i].Id" class="ikony"><img src="~/img/pets/edit-3-32.png"></a></td>
                                
                                }
                                <td scope="row"><a asp-action="UsersPets" asp-route-id="@Model[i].Id" class="ikony"><img src="~/img/pets/paw-32.png"></a></td>
                            </tr>
                        }
                    </tbody>
                </table>

                <!-- ======= Footer tools ======= -->
                <div class="footer-tools">
                    <div class="list-items">
                        Show
                        <select name="n-entries" id="n-entries" class="n-entries">
                            <option value="5">5</option>
                            <option value="10" selected>10</option>
                            <option value="15">15</option>
                        </select>
                        entries
                    </div>

                    <div class="pages">
                        <ul>
                            <li><span class="active">1</span></li>
                            <li><button>2</button></li>
                            <li><button>3</button></li>
                            <li><button>4</button></li>
                        </ul>
                    </div>
                </div>
            </div>
    }

    
}


@section Scripts {
    <script src="~/js/dialogs.js"></script>

}


@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />

}
